.channel-icon-glyph {
  font-family: 'MaterialIcons', sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
